body
  font-family: Arial, sans-serif
  font-size: 62.5%
  background-color: #fff

#app
  font-size: 1.6em
  line-height: 1.5em

h1
  font-family: Pacifico, Arial, sans-serif
  font-size: 3.4em
  line-height: 1.5em

h2
  font-size: 1.5em
  line-height: 1.5em

.logo
  cursor: pointer

.footer
  p
    margin-bottom: 0

.book-desc
  font-size: 1.1em
  line-height: 1.5em

.youtube-wrapper
  background-color: #000
  text-align: center

  iframe
    vertical-align: top
    width: 100%
    height: 360px

.container
  max-width: 1200px

.v-tabs-items
  p, .col
    line-height: 1.3em

/* Min width 740 pixels */
@media only screen and (min-width: 740px)
  .youtube-wrapper
    iframe
      height: 420px
/* end media min width 740 pixels */

/* Min width 980 pixels */
@media only screen and (min-width: 980px)
  .youtube-wrapper
    iframe
      height: 500px
/* end media min width 980 pixels */